p {
    font-size: 20px;
}
#myselect{
    padding-top: 25px;
    padding-left: 30%;

}

#myform {
    padding-top: 25px;
    padding-left: 30%;
}

textarea{
    height: 550px;
}



#title {
    background-color: gray;
    color: rgb(232, 235, 232);
    height: 80px;
    font-size: 40px;
    font-weight: bold;
    padding-top: 5px;
}

#formatbtn{
    background-color: gray ;
    margin-left: 10px;
    color: black;
    border-radius: 20px;
}